.arena {
    position: relative;
    width: 500px;
    height: 500px;
    border-width: 2px;
    border-style: dashed;
}

.bar {
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 6px;
}

.skill {
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 20px;
    background-color: green;
    border-color: darkgreen;
    &.hit {
        background-color: red;
    }
}